<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="./app/style/app.css" />
    <title>Oop 1</title>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <ul>
          <li class="card" v-for="movie in movies">
            <div class="card__info">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.description }}</p>
              <p>{{ movie.year }}</p>

              <p v-for="(actor, i)  in movie.actors">
                {{ actor.name }} {{ actor.lastName }}
              </p>
            </div>
            <figure>
              <img :src="movie.poster" alt="" />
            </figure>
          </li>
        </ul>
      </div>
    </div>

    <script src="./main.js"></script>
  </body>
</html>
